body {
    background:  url(back.jpg) no-repeat center center fixed ;
    -webkit-background-size:cover;
    min-width: 994px;
    color:#FFFFFF;
    font-size: 20px;
}
table{
    margin-top: 10px;
    width:500px ;
}
#main_wrapper {
    width:500px;
    padding:15px;
    margin:200px auto;
    background: rgba(0,0,0,0.4);
    border-radius:10px;
    box-shadow: #000000 5px 5px 15px;
}
#submit {
    background: #026a84;
    padding: 10px;
    border-radius: 5px;

    margin: 5px;
    color: white;
    border: 0px;
    margin-left: 200px;
    background: -webkit-linear-gradient(top,#00aac9, #026a84);
}
#submit:hover {
    color: #ffffff;
    background: #026a84;
    text-shadow: 1px 1px #ffffff;
}
label {
    font-family: kalam, arial, sans-serif;
}
.text_input {
    border-radius: 7px;
    box-shadow: #000000 2px 2px 8px;
    width: 200px;
    padding: 5px;
}
