#submit {
    background: #026a84;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: 0px;
    margin-left:300px;
    background: -webkit-linear-gradient(top,#00aac9, #026a84);
}

#submit:hover {
    color: #ffffff;
    background: #026a84;
    text-shadow: 1px 1px #ffffff;
}
table {
    margin: 0 auto;
}
label {
    font-family:  arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
}
.text_input {
    border-radius: 7px;
    box-shadow: #000000 2px 2px 8px;
    width: 300px;
    padding: 5px;
}
h2 {
    font-size: 22px;
}
td {
    padding: 10px;
}
#submit {
    background: #026a84;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: 0px;
    margin-left:300px;
    background: -webkit-linear-gradient(top,#00aac9, #026a84);
}

#submit:hover {
    color: #ffffff;
    background: #026a84;
    text-shadow: 1px 1px #ffffff;
}

table {
    margin: 0 auto;
}
label {
    font-family:  arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
}
.text_input {
    border-radius: 7px;
    box-shadow: #000000 2px 2px 8px;
    width: 300px;
    padding: 5px;
}
h2 {
    font-size: 22px;
}
td {
    padding: 10px;
}