#search
{
    color: #000;

    padding-left: 0px;

    border-radius: 5px;
    box-shadow: #000000 2px 2px 8px;
    width: 250px;
    padding: 5px;
    z-index: 10;
}
#txt
{
    color: white;
}
#results
{
    border-radius: 5px;
    box-shadow: #000000 2px 2px 8px;

    width:263px;
    position: absolute;
    left: 0px;
    top: 10px;
    margin-top: 26px;
    z-index: 1;
    background: rgba(0,0,0,0.8);
}